@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Oswald:400,500,600,700,800&display=swap');
/*
font-family: 'Great Vibes', cursive;
font-family: 'Oswald', sans-serif;
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-image: url('../images/sailor_bg1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

body {
  margin: 0;
  background: transparent;
  background-image: url('https://i.gifer.com/2iiB.gif');
  min-height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-weight: 500;
  text-align: center;
  font-size: 3em;
  text-transform: full-width;
  color: #fff0fa;
}

.tiles {
  max-width: 880px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-box-pack: space-evenly;
  -webkit-box-pack: space-evenly;
  -ms-box-pack: space-evenly;
  justify-content: space-evenly;
}

.card {
  margin: 10px;
  position: relative;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.card,
.front,
.back {
  height: 140px;
  width: 140px;
  border-radius: 4px;
  border-style: outset;
}

.back,
.front {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          
}

.front {
  background: #ece7cb url('../images/sailor-cover.png') no-repeat center center / contain;

}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.match .front {
  background: rgba(0,0,0,.7) !important;
}

/* --- Score Panel --- */
.score-panel {
    text-align: center;
    margin: 1em;
    font-family: 'Oswald', sans-serif;
    color: #fff0fa;
}

.move {
    padding-right: 1rem;
}

.timer {
      padding-right: 1rem;
}

/* --- Stage buttons --- */

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #e8c0e400;
  color: transparent;
  font-size: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}

.btn-secondary:focus {
    box-shadow: none;
}

.btn:focus {
    outline: 0;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.container .btn:hover {
    background-color: transparent;
}
    
.btn-click-size {
  cursor: pointer;
    height: 7rem;
    width: 5rem;
}

.btn-group {
  width: 23rem;
}

.btn { 
  text-decoration:none;
}

a {
  color: #813898;
  font-family: 'Oswald', sans-serif;
}

/* --- Modal styling --- */

.modal-color1 {
  background-color: #cab8e8;
}

.modal-color2 {
  background-color: #eae7ff;
}

.modal-header {
  border-bottom: 0;
}

.modal-title-size { 
      font-size: xx-large;;
}
  
.btn-color1 {
  background-color: black;
  border-color: black;
  color: white;
}

.btn-color2 {
  background-color: #2c7abf;
  border-color: #2c7abf;
  color: white;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #20547b;
    border-color: #20547b;
}

.content-1 {
    color: #2c7abf;
    font-size: large;
}  

.title-style {
    line-height: 1.5;
    color: #2c7abf;
    font-size: 45px;
    font-family: Great Vibes;
}

.modal-footer { 
      border-top: none;
}

.oswald {
  font-family: oswald;
}


/* --- Additional Styling --- */

.help-img {
    width: 75px;
    height: 100px;
    position: relative;
    float: right;
    margin: 20px;
}

.congrats-img {
    width: 175px;
    height: 135px;
    position: relative;
    float: right;
    margin: 20px;
}

.disclaimer {
  text-align: center;
  margin: 0;
  color: #38373a;
  opacity: 0.7;
  font-size: small;
}

.stage-swap {
  display:block;
  width: 10rem;
  border-style: none;
}

.stage-btn {
  margin-bottom:5px;
  display:block;
  border-style: none;
  width: 100%;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.stage-color {
  color: #5f3a58;
}  

.tune-btn-style {
  height: 25px;
  width: auto;
  font-size: small;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1px;
}  

#tune-btn {
    height: 25px;
    width: auto;
    font-size: smaller;
    background-color: crimson;
}

.crimson-clr {
  color: crimson;
  font-size: 20px;
}