@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Oswald:400,500,600,700,800&display=swap');
/*
font-family: 'Great Vibes', cursive;
font-family: 'Oswald', sans-serif;
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-image: url('../images/sailor_bg1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

body {
  margin: 20px 0;
}

.grid {
  max-width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-box-pack: space-evenly;
  -webkit-box-pack: space-evenly;
  -ms-box-pack: space-evenly;
  justify-content: space-evenly;
}

.card {
  margin: 10px;
  position: relative;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.card,
.front,
.back {
  height: 150px;
  width: 150px;
  border-radius: 5px;
}

.back,
.front {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  background: #ece7cb url('../images/sailor-cover.png') no-repeat center center / contain;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.match .front {
  background: rgba(0,0,0,.5) !important;
}